{% extends 'base.html' %}

{% block content %}
  <div style="text-align: center; height: 200px;">
    <img src="{{ url_for('static', filename = 'envelope.png') }}" style="width: 230px; height: auto;">
  </div>
  <div style="display: flex; flex-direction: column; justify-content: center; height: 100px;">

    <div class="title-container" >
      <h1 class="title">Filter the Undesired.</h1>
    </div>


    <fieldset class="field-container">

      <input style="font-size: 24px; text-align: center;" id="sentence" type="text" placeholder="Insert Text to Check for Spam" class="field" />
      <div class="icons-container">
        <div class="icon-search"></div>
        <div class="icon-close" onclick="clean()">
          <div class="x-up"></div>
          <div class="x-down"></div>
        </div>
      </div>
      <div id="result" style="text-align: center; font-size: 40px; margin-top: 10px;"></div>
      <div id="reasons" style="text-align: center; color: black; font-size: 20px; margin-top: 10px;"></div>
      <div id="buttons" style="margin-top: 20px; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <button class="button" onclick="detectSpam()">Check Spam</button>
      </div>
    </fieldset>
  </div>
{% endblock %}
